@media only screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .nav.d-block.d-md-none a {
        color: #000;
        font-weight: 100;
        font-size: 18px;
        padding: 0px 5%;
    }
}