/* global  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
}

img,
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* .container {
    max-width: 80%;
} */

nav {
    height: 90px;
}

.logo-img {
    width: 70px;
    height: 70px;
}

.search-box {
    width: 500px;
    max-width: 80%;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
    padding: 0px 20px;
}

li.menu-link {
    font-weight: 600;
}

h4.reel-heading {
    font-weight: 600;
    font-size: 18px;
    padding: 10px 0px;
}

/* following list */
.list_profile_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.all-tags {
    word-spacing: 1rem;
    font-size: 13px;
}

/* popular posts */
.post-content {
    bottom: 0;
    color: #fff;
}

.disc {
    width: 50px;
    animation: rotate 3s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

p.hashtags {
    word-spacing: 0.6rem;
}

.post-meta-icons {
    font-size: 22px;
    letter-spacing: 12px;
    cursor: pointer;
}

.count {
    font-size: 18px;
}

.posts {
    height: 85vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.posts::-webkit-scrollbar {
    display: none;
}


.music-title {
    display: inline-flex;
    align-items: center;
    width: 90%;
}

a.Quick-link.active,
a.Quick-link:hover {
    text-decoration: none;
    background: #d1030d26;
    color: #cf030d;
    padding: 10px 30px;
    border-radius: 31px;
    word-spacing: 5px;
    font-weight: 600;
}

a.Quick-link {
    text-decoration: none;
    background: #fff;
    color: #000;
    padding: 10px 30px;
    border-radius: 31px;
    word-spacing: 5px;
    font-weight: 600;
    line-height: 2.5;
}

.stemp-icon {
    width: 60px;
    height: 60px;
}

.download-links img {
    width: 140px;
}


/* like */
i.fa.fa-heart.active {
    color: red;
}

/* read more */
.read_more {
    background: transparent;
    border: none;
}

.read-more-content {
    display: none;
    top: 0;
    background: #000000d6;
    color: #fff;
    height: 100%;
    overflow-y: scroll;
}

.read-more-content::-webkit-scrollbar {
    display: none;
}

.go_back {
    padding: 7px 0px;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
}

/* comments */
.comments {
    background: #fff;
    bottom: 0px;
    border-radius: 10px 10px 0px 0px;
}

.comment-user img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.popular_reel {
    scroll-snap-align: start;
    height: calc(100vh - 30%);
}

.comment {
    height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
}